@import "defaults";
@import "base/normalise";
@import "base/reset";
@import "base/clearfix";
@import "base/grid";
@import "helpers";

.list {
  list-style: none;

  &__item {
      position: relative;
      padding: ($def-spacing/2);
      margin: ($def-spacing/2) 0;
      border: 1px $primary-color-outline solid;
      background-color: $primary-color;

      &:hover {
        cursor: pointer;
        border-color: #aaa;
      }

      &--del {
        position: absolute;
        right: 0;
        padding-right: 0.5em;
      }

      &--selected {
        border: 1px #aaa solid;
        font-weight: 700;
      }
  }
}
